<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}

{% block title %}

Contact

{% endblock %}

{% block body %}

    <h1>contact</h1>

    <div class="container">
        <h1>Developer Connect : </h1>
        <br><br>
        <div class="jumbotron">
            <h3>
                <b>NAME :</b> Sangeeth Subramoniam <br> <br>
                <b>Contact :</b> 00001111 <br> <br>
                <b>mail :</b> sangeethsubramoniam@gmail.com <br> <br>
            </h3>
        </div>
    </div>

{% endblock %}